.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
# public # Removed to work with heroku
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
# Gemfile.lock # Removed to work with heroku
